{% extends 'dashboard.html'%}
{% block title %}
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/cashier/">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">InvenSoft</div>
</a>
{% endblock %}
{% block name %}
{{data.nombreCajero}}
{% endblock %}
{% block sidebar %}
<li class="nav-item active">
    <a class="nav-link" href="/cashier/">
        <i class="fa-solid fa-cart-shopping"></i>
        Facturaciòn
    </a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="/cashier/products">
        <i class="fa-solid fa-user-tie"></i> Inventario
    </a>
</li>
{% endblock %}

{% block content %}
{% load static %}
<h1>Facturaciòn</h1>
<nav class="navbar">
    <div class="">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="payMethod" id="inlineCheckbox1" value="Efectivo">
            <label class="form-check-label" for="inlineCheckbox1">Efectivo</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="payMethod" id="inlineCheckbox2" value="Nequi">
            <label class="form-check-label" for="inlineCheckbox2">Nequi</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="payMethod" id="inlineCheckbox3" value="Daviplata">
            <label class="form-check-label" for="inlineCheckbox3">Daviplata</label>
        </div>
    </div>
    <div class="">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Fisica</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Electronica</label>
        </div>
    </div>
</nav>
<div class="w-50 mx-auto">
    <h1 class="text-center">Buscador</h1>
    <input type="number" name="id" id="id" placeholder="Buscar por ID" class="form-control mb-2">
    <input type="text" name="nombre" id="nombre" placeholder="Buscar por nombre" class="form-control mb-2">
    <div class="d-grid gap-2">
        <button class="btn btn-primary" id="search" type="button">Buscar <i
                class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</div>
<table class="table table-striped" id="data-table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Opciones</th>
            <th scope="col">Precio</th>
            <th scope="col">Iva</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Valor Total</th>

        </tr>
    </thead>
    <tbody></tbody>
</table>
<p>Subtotal: $
<p id="subtotal">0</p>
</p>
<p>Total Iva: $
<p id="iva">0</p>
</p>
<p>Total: $
<p id="total">0</p>
</p>
<button class="btn btn-success" id="showModal" type="button">Pagar</button>
<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos Cliente</h5>
                <button type="button" class="close" onclick="cerrarModal('clientModal')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="">Cedula</label>
                <div>
                    <input type="number" name="cedula" id="cedula" class="form-control">
                    <button class="btn btn-primary" type="button" id="btnClient"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <label for="">Nombre</label>
                <input type="text" id="name" class="form-control">
                <label for="">Correo electronico</label>
                <input type="email" name="correo" id="email" class="form-control">
                <label for="">Telefono</label>
                <input type="tel" class="form-control" name="telefono" id="telefono">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cerrarModal('clientModal')">Close</button>
                <button type="button" class="btn btn-primary" id="makeSale">Finalizar compra</button>
            </div>
        </div>
    </div>
</div>
<!--Modal daviplata-->
<div class="modal fade" id="daviplataModal" tabindex="-1" role="dialog" aria-labelledby="imagenModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imagenModalLabel">Imagen</h5>
          <button type="button" class="close" onclick="cerrarModal('daviplataModal')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{% static stats.daviplata %}" class="img-fluid" alt="Imagen">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="cerrarModal('daviplataModal')">Cancelar</button>
          <button type="button" class="btn btn-primary" onclick="changeClientModal('daviplataModal')">Continuar</button>
        </div>
      </div>
    </div>
  </div>
<!--Modal nequi-->
<div class="modal fade" id="nequiModal" tabindex="-1" role="dialog" aria-labelledby="imagenModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imagenModalLabel">Imagen</h5>
          <button type="button" class="close" onclick="cerrarModal('nequiModal')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{% static stats.nequi %}" class="img-fluid" alt="Imagen">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="cerrarModal('nequiModal')">Cancelar</button>
          <button type="button" class="btn btn-primary" onclick="changeClientModal('nequiModal')">Continuar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}