{% extends 'dashboard.html'%}

{% block title %}
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">InvenSoft</div>
</a>
{% endblock %}
{% block sidebar %}
<li class="nav-item active">
    <a class="nav-link" href="/admin/">
        <i class="fa-solid fa-cart-shopping"></i>
        Producto
    </a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="/admin/admins/">
        <i class="fa-solid fa-user-tie"></i> Administradores
    </a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="/admin/cashiers/">
        <i class="fa-solid fa-cash-register"></i> Cajeros
    </a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="/admin/providers/">
        <i class="fa-solid fa-truck"></i> Proveedores
    </a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4 card">
        <h1 class="container text-center"> Ingresar producto</h1>
        <form action="create_product/" method="post" class="">
            {% csrf_token %}
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="" class="form-control">
            <label for="">Precio Compra</label>
            <input type="number" name="precio" id="" class="form-control">
            <label for="">Cantidad</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" name="cantidad" placeholder="Ingrese su texto aquí"
                    aria-label="Ingrese su texto aquí" aria-describedby="basic-addon2">
                <select class="form-select" id="inputGroupSelect02" name="unidad">
                    <optgroup label="Peso">
                        <option value="kg">Kilogramos</option>
                        <option value="g">Gramos</option>
                        <option value="lib">Libras</option>
                    </optgroup>
                    <optgroup label="Volumen">
                        <option value="lit">Litros</option>
                        <option value="cm3">Centimetros cubicos</option>
                        <option value="gal">Galones</option>
                    </optgroup>
                    <optgroup label="Otras">
                        <option value="uni">Unidades</option>
                        <option value="ca">Cajas</option>
                        <option value="doc">Docenas</option>
                    </optgroup>
                    <optgroup label="longitud">
                        <option value="mt">Metro</option>
                        <option value="ft">Pies</option>
                        <option value="cm">Centimetros</option>
                        <option value="Pul">Pulgadas</option>
                    </optgroup>
                </select>
            </div>
            <label for="">Porcentaje de iva</label>
            <input type="number" name="iva" id="" class="form-control">
            <label for="">Proveedor</label>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Options</label>
                <select class="form-select" id="inputGroupSelect01" name="provider">
                    <option disabled>Escoja una opcion</option>
                    {% for providers in providers %}
                    <option value="{{providers.nitProvider}}">{{providers.nitProvider}} - {{providers.nomProvider}}
                    </option>
                    {%endfor%}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
    <div class="col-8">
        <a href="/admin/generate_excel/" class="btn btn-success"><i class="fa-solid fa-file"></i>Generar inventario
            Excel</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio de compra</th>
                    <th scope="col">Iva</th>
                    <th scope="col">Stock </th>
                    <th scope="col">NIT Proveedor</th>
                    <th scope="col"> Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data %}
                <tr>
                    <th>{{ data.idProducto}}</th>
                    <td>{{ data.nombreProducto}}</td>
                    <td>{{ data.precioCompra}}</td>
                    <td>{{ data.ivaProducto|floatformat:"2" }} %</td>
                    <td>{{ data.stockProducto}} {{ data.unidadMedidad }}</td>
                    <td>{{ data.nitProveedor.nitProvider}}</td>
                    <td>
                        <button class="btn btn-danger"
                            onclick="deleteNote({{ data.idProducto}},'{{ csrf_token }}','product' )"><i
                                class="fa-solid fa-trash"></i></button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModal{{ data.idProducto }}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                    </td>
                </tr>
                <div class="modal fade" id="exampleModal{{ data.idProducto }}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form action="update_product/" method="post" class="">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ data.idProducto}}">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" name="nombre" id="" class="form-control"
                                        value="{{ data.nombreProducto}}">
                                    <label for="">Precio Compra</label>
                                    <input type="number" name="precio" id="" class="form-control"
                                        value="{{ data.precioCompra}}">
                                    <label for="">Cantidad</label>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" value="{{ data.stockProducto}}"
                                            name="cantidad" placeholder="Ingrese su texto aquí"
                                            aria-label="Ingrese su texto aquí" aria-describedby="basic-addon2">
                                        <select class="form-select" id="inputGroupSelect02" name="unidad">
                                            <optgroup label="Peso">
                                                <option value="kg">Kilogramos</option>
                                                <option value="g">Gramos</option>
                                                <option value="lib">Libras</option>
                                            </optgroup>
                                            <optgroup label="Volumen">
                                                <option value="lit">Litros</option>
                                                <option value="cm3">Centimetros cubicos</option>
                                                <option value="gal">Galones</option>
                                            </optgroup>
                                            <optgroup label="Otras">
                                                <option value="uni">Unidades</option>
                                                <option value="ca">Cajas</option>
                                                <option value="doc">Docenas</option>
                                            </optgroup>
                                            <optgroup label="longitud">
                                                <option value="mt">Metro</option>
                                                <option value="ft">Pies</option>
                                                <option value="cm">Centimetros</option>
                                                <option value="Pul">Pulgadas</option>
                                            </optgroup>
                                        </select>
                                        </select>
                                    </div>
                                    <label for="">Porcentaje de iva</label>
                                    <input type="number" name="iva" id="" class="form-control"
                                        value="{{ data.ivaProducto|floatformat:" 2" }}">
                                    <label for="">Proveedor</label>
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                        <select class="form-select" id="inputGroupSelect01" name="provider">
                                            <option disabled>Escoja una opcion</option>
                                            {% for providers in providers %}
                                            <option value="{{providers.nitProvider}}">{{providers.nitProvider}} -
                                                {{providers.nomProvider}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}