{% extends 'dashboard.html'%}

{% block title %}
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">InvenSoft</div>
</a>
{% endblock %}
{% block sidebar %}
<li class="nav-item">
    <a class="nav-link" href="/admin/">
        <i class="fa-solid fa-cart-shopping"></i>
        Producto
    </a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="/admin/admins/">
        <i class="fa-solid fa-user-tie"></i> Administradores
    </a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="/admin/cashiers/">
        <i class="fa-solid fa-cash-register"></i> Cajeros
    </a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="/admin/providers/">
        <i class="fa-solid fa-truck"></i> Proveedores
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link collapsed" href="/admin/qrpage/">
        <i class="fa-solid fa-qrcode"></i> QR
    </a>
</li>
{% endblock %}

{% block content %}
{% load static %}
<h1 class="text-center">QR Page</h1>
    <div class="row">
        <div class="col">
            <form action="/admin/qrpage/nequi/" method="post" class="card" enctype="multipart/form-data">{% csrf_token %}
                <h2 class="text-center">QR Nequi</h2>
                <input type="file" name="qrcode" id="" class="form-control-lg">
                <button class="btn btn-primary">Cargar QR nequi</button>
            </form>
            <img src="{% static stats.nequi %}" alt="nequi img" style="width:100%;height:60%">
        </div>
        <div class="col">
            <form action="/admin/qrpage/daviplata/" method="post" class="card" enctype="multipart/form-data">{% csrf_token %}
                <h2 class="text-center">QR Daviplata</h2>
                <input type="file" name="qrcode" id="" class="form-control">
                <button class="btn btn-danger">Cargar QR Daviplata</button>
            </form>
            <img src="{% static stats.daviplata %}" alt="daviplata img" style="width:100%;height:60%">
        </div>   
    </div>
{% endblock %}